* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.669)),
    url("./image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.content {
  color: #fff;
  text-align: center;
  width: 70%;
}
.content h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: #db714e;
}
.content p {
  font-size: 22px;
  margin: 15px 0;
}
.content button {
  background-color: #04aa6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  padding: 15px 32px;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.content button:hover {
  background-color: #068858;
}
